// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

cite {
  font-weight: 200;
  font-size: 14px;
  font-style: normal;
  color: #434343;
}

blockquote {
  font-weight: 900;
  font-size: 24px;
}